*{margin:0;box-sizing: border-box;font-family: 'Arial'}
html{
    font-size:10px;
}
.price-offers{
    display:flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: row;
    width:70vw;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.offer{
    border:2px solid black;
    border-radius:5px;
    width:15vw;
    height:20vw;
    padding: 13px 0px;
    position: relative;
    transition: .2s;
    overflow: hidden;
}
.offer::after{
    content: '';
    position: absolute;
    width:15vw;
    height:22vw;
    background-color:black;
    top:100%;
    left:0;
    opacity:.2;
    transition: .3s;
}
.offer:hover{
    transform:scale(1.1);
    cursor: pointer;
}
.offer:hover::after{
    top:0;
}
.offer-header, .offer-price{
    display: block;
    width:100%;
    text-align: center;
    padding:5px;
}
.offer-header{
    font-size: 2.5em;
}
.offer-content{
    text-align: center;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    font-size:1.3em;
    padding:0;
    margin:0;
    width:75%;
}
.offer-content ul{
    position: relative;
    left:50%;
    
    transform:translateX(-50%);
}
.offer-content ul, .offer-content li{
    padding:0;
    margin:0;
    text-align: left;
}
.offer-price{
    position: absolute;
    bottom: 2vw;
    left:50%;
    transform: translateX(-50%);
    color: #5d833c;
    font-weight: bold;
    font-size: 2em;
}
.gray-style{
    background-color:#dfdfdf;
}
.blue-style{
    background-color: #dcf3f5;
    border-color:#278389;
    animation:shake 3s infinite;
    transform:scale(1.1);
}
.gold-style{
    background-color:#f1bd4d;
    border-color:#ff9800;
}

@keyframes shake{
    5%{
        left:-5px;
    }
    10%{
        left:5px;
    }
    15%{
        left:-5px;
    }
    20%{
        left:5px;
    }
    99.99%{
        left:5px;
    }
    100%{
        left:0;
    }
}